@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    /* Color */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --orange-900: hsl(7, 71%, 60%);

    --text-gradient-red: hsl(7, 86%, 67%);
    --text-gradient-white: hsl(0, 0%, 100%);

    --primary-font: "Inconsolata", monospace;

    /* 12px */
    --fs-xs: 0.75rem;
    /* 14px */
    --fs-sm: 0.875rem;
    /* 16px */
    --fs-base: 1rem;
    /* 18px */
    --fs-lg: 1.125rem;
    /* 20px */
    --fs-xl: 1.25rem;
    /* 24px */
    --fs-xxl: 1.5rem;

    /* 58px */
    --fs-h1: 3.625rem;

    /* 48px */
    --fs-h2: 3rem;

    /* 40px */
    --fs-h3: 2.5rem;

    /* 32px */
    --fs-h4: 2rem;

    /* 28px */
    --fs-h5: 1.75rem;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/images/background-mobile.png);
    font-family: var(--primary-font);
    color: var(--neutral-300);
    font-size: var(--fs-base);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 10px;
    color: var(--neutral-0);
}

.mobile-hidden {
    display: none;
}

.desktop-hidden {
    display: block;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.header-logo {
    height: 20px;
    width: 20px;
}

.decorative-container {
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.pattern-line {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.pattern-squiggly-top {
    position: fixed;
    top: 0;
    right: 0;
    width: 140px;
    height: 104px;
}

.pattern-squiggly-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 250px;
    height: 175px;
}

.pattern-circle {
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    transform: rotate(270deg);
    bottom: 10%;
    right: -60px;
    width: 120px;
    height: 120px;
}

.top-content-container {
    padding: 0 15px;
    text-align: center;
}

.top-content-title {
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.2;
    color: var(--neutral-0);
}

.top-content-desc {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 28px;
    margin-bottom: 40px
}

.highlight-name {
    background-image: linear-gradient(to right, var(--text-gradient-red), var(--text-gradient-white));
    background-clip: text;
    color: transparent;
}

.highlight-email {
    color: var(--orange-500);
}

.ticket-container {
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.ticket-background {
    width: 100%;
}

.ticket-title {
    top: 10px;
    left: 20px;
    position: absolute;
    display: flex;
    gap: 10px
}

.ticket-title img {
    margin-top: 4px;
    height: 30px;
    width: 30px;
}

.ticket-title-detail {
    text-align: left;
}

.ticket-title-detail h2 {
    margin-bottom: 10px;
    color: var(--neutral-0);
    font-size: var(--fs-lg);
}

.ticket-title-detail p {
    color: var(--neutral-300);
    font-size: var(--fs-xs);
}

.ticket-participant {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    text-align: left;
    gap: 10px;
    align-items: center;
}


.ticket-participant img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.ticket-participant h2 {
    font-size: var(--fs-lg);
    margin-bottom: 5px;
}

.ticket-participant-detail img {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.ticket-participant-detail div p {
    font-size: var(--fs-xs);
}

.ticket-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.ticket-number p {
    writing-mode: vertical-rl;
    font-size: var(--fs-lg);
    color: var(--neutral-500);
}

.input-container {
    max-width: 600px;
    margin: 0 auto;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-generate {
    background-color: var(--orange-500);
    color: var(--neutral-900);
    font-size: var(--fs-lg);
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.label-input {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 12px;
}

.input-file {
    height: 150;
    border: 2px dashed var(--neutral-500);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.input-file p {
    color: var(--neutral-500);
}

.dragover {
    background-color: hsla(0, 0%, 100%, 0.2);
}

.button-upload-avatar {
    background-image: url(./assets/images/icon-upload.svg);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-color: var(--neutral-700);
    cursor: pointer;
}

.info-text {
    color: var(--neutral-500);
    font-size: var(--fs-sm);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(4px);
    }

    40% {
        transform: translateX(-8px);
    }

    60% {
        transform: translateX(8px);
    }

    80% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

.error-text {
    color: var(--text-gradient-red);
    font-size: var(--fs-sm);
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    animation: error 0.5s ease;
}

.info-text img {
    margin-right: 10px;
}

.input-text {
    width: 100%;
    background-color: var(--neutral-500);
    border: 1px solid var(--neutral-500);
    padding: 17px 15px;
    border-radius: 10px;
    color: var(--neutral-0);
    background-color: hsl(0, 0%, 100%, 0.1);
    font-size: var(--fs-base);
}

.input-text::placeholder {
    color: var(--neutral-500);
    font-family: var(--primary-font);
    font-size: var(--fs-base);
}

.input-text:focus,
.input-file:focus-within {
    outline: 1px solid var(--neutral-300);
    outline-offset: 2px;
}

.input-text:hover,
.input-file:hover {
    background-color: hsl(0, 0%, 100%, 0.2);
}

.input-file:hover p {
    color: var(--neutral-0);
}

.input-file-action-button {
    display: none;
    gap: 10px;
    justify-content: center;
}

.button-action-avatar {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--neutral-700);
    color: var(--neutral-300);
    cursor: pointer;
}


footer {
    padding: 30px 0px 20px;
    text-align: center;
    font-size: var(--fs-sm);
}

footer a {
    text-decoration: underline;
    background-image: linear-gradient(to right, var(--text-gradient-red), var(--text-gradient-white));
    background-clip: text;
    color: transparent;
}



@media screen and (min-width: 375px) {
    .ticket-title h2 {
        font-size: 24px;
    }

    .ticket-title p {
        font-size: var(--fs-sm);
    }

    .ticket-number p {
        font-size: var(--fs-xl);
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./assets/images/background-desktop.png);
    }

    .top-content-container {
        max-width: 600px;
        margin-inline: auto;
    }

    .top-content-title {
        font-size: var(--fs-h3);
    }

    .top-content-desc {
        font-size: var(--fs-xl);
        max-width: 400px;
        margin-inline: auto;
    }

    .ticket-container {
        max-width: 550px;
    }

    .ticket-title {
        top: 30px;
        left: 30px;
        position: absolute;
    }

    .ticket-title img {
        height: 35px;
        width: 35px;
    }

    .ticket-title-detail h2 {
        font-size: var(--fs-h3);
    }


    .ticket-participant {
        bottom: 30px;
        left: 30px;
    }


    .ticket-participant img {
        width: 60px;
        height: 60px;
    }

    .ticket-participant h2 {
        font-size: var(--fs-h4);
        font-weight: 500;
        margin-bottom: 10px;
    }

    .ticket-participant-detail img {
        height: 20px;
        width: 20px;
        margin-right: 4px;
    }

    .ticket-participant-detail div p {
        font-size: var(--fs-base);
    }

    .ticket-number {
        right: 5%;
    }

    .ticket-number p {
        writing-mode: vertical-rl;
        font-size: var(--fs-h4);
        color: var(--neutral-500);
    }

    .pattern-squiggly-bottom {
        width: 400px;
        height: auto;
    }
}

@media screen and (min-width: 1440px) {
    .mobile-hidden {
        display: block;
    }

    .desktop-hidden {
        display: none;
    }


    .top-content-container {
        max-width: 900px;
        margin-inline: auto;
    }

    .pattern-squiggly-bottom {
        width: 820px;
        height: auto;
    }

    .pattern-squiggly-top {
        top: 50px;
        width: 500px;
        height: auto;
    }

    .pattern-circle-ticket {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
        transform: translateY(50%);
        transform: rotate(90deg);
        width: 200px;
        height: 200px;
        position: absolute;
        right: -120px;
        top: 12%;
    }

    .pattern-circle-top {
        top: -80px;
        left: 10%;
        width: 200px;
        height: 200px;
        position: absolute;
    }

    .top-content-title {
        font-size: var(--fs-h1);
    }

    .top-content-desc {
        font-size: var(--fs-xxl);
        max-width: 900px;
    }

    .ticket-title-detail p,
    .ticket-participant-detail div p {
        font-size: var(--fs-xl);
    }
}