@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Colors */
  --clr-blue-grayish-dark: hsl(217, 19%, 35%);
  --clr-blue-desaturated-dark: hsl(214, 17%, 51%);
  --clr-blue-grayish: hsl(212, 23%, 69%);
  --clr-blue-grayish-light: hsl(210, 46%, 95%);

  /* Typography */
  --primary-font: 'Manrope', sans-serif;
  --font-normal: 500;
  --font-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.8rem;
  --space-lg: 3rem;

  /* Border Radius */
  --radius-sm: 0.5rem;
  --radius-md: 0.6rem;
  --radius-lg: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-weight: var(--font-normal);
  font-size: 16px; /* 1rem = 16px */
}

body {
  background-color: var(--clr-blue-grayish-light);
  padding: var(--space-lg) var(--space-sm);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Generic Class --- */
.icon {
  width: 20px;
  height: 20px;
}

/* --- Article Card --- */
.article-card {
  width: 100%;
  max-width: 22.4375rem;
  background-color: #fff;
  border-radius: var(--radius-md);
}

.article-card__image-wrapper {
  aspect-ratio: 16 / 10;
  width: 100%;
  overflow: hidden;
}

.article-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.article-card__content {
  padding: var(--space-md) var(--space-md) 0;
}

.article-card__title {
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  color: var(--clr-blue-grayish-dark);
  padding-bottom: var(--space-sm);
}

.article-card__description {
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--clr-blue-desaturated-dark);
  padding-bottom: var(--space-md);
}

/* --- Footer --- */
.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
}

.author {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.author__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.author__name {
  font-weight: var(--font-bold);
  font-size: 0.8rem;
  color: var(--clr-blue-grayish-dark);
}

.author__date {
  font-size: 0.8rem;
  color: var(--clr-blue-grayish);
}

/* --- Share Button & Tooltip --- */
.share {
  position: relative;
}

.share__button {
  border: none;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--clr-blue-grayish-light);
}

.share__tooltip-content {
  position: absolute;
  width: 22.4375rem;
  bottom: -1.2rem;
  right: -1.8rem;
  background-color: var(--clr-blue-grayish-dark);
  color: #fff;
  padding: 1.2rem var(--space-md);
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  display: flex;
  justify-content: space-between;
}

.share__socials-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.share__label {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--clr-blue-grayish);
}

.share__socials {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: end;
  gap: var(--space-sm);
}

.share__socials > li > a {
  display: flex;
  align-items: end;
}

.share__button-active {
  border: none;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--clr-blue-desaturated-dark);
  align-self: flex-end;
  justify-self: flex-end;
}

/* --- State Classes --- */
.hidden {
  display: none;
}

/* --- Responsive Layout --- */
@media screen and (min-width: 768px) {
  .article-card {
    display: flex;
    max-width: 45.75rem;
    height: 18.5rem;
  }

  .article-card__image-wrapper {
    height: 100%;
    flex-basis: 40%;
  }

  .article-card__image {
    width: 100%;
    object-position: left;
    border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  }

  .article-card__content {
    flex-grow: 1;
    flex-basis: 60%;
    padding: 2rem 2.3rem 0;
  }

  .article-card__title {
    font-size: 1.3rem;
  }

  .share-wrapper {
    position: absolute;
  }

  .share__tooltip-content {
    width: fit-content;
    bottom: 3.5rem;
    right: -6.5rem;
    border-radius: var(--radius-md);
  }

  .share__tooltip-content::after {
    content: '';
    position: absolute;
    background-color: var(--clr-blue-grayish-dark);
    width: 20px;
    height: 20px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);
  }

  .share__button-active {
    display: none;
  }
}